# BLTouch Probe Configuration 
#Tested using a CRTouch, but name works the same (BLTouch). Different models might face difficulties. 
[bltouch]                                      # Automated bed leveling sensor configuration
sensor_pin: ^PB1                               # Sensor Pin for BLTouch
control_pin: PB0                               # Control Pin for BLTouch
x_offset: -45                                  # X-axis offset for probe (Important: Ensure this is correctly calibrated for your printer's setup. Measure the distance from the probe's tip to the nozzle along the X-axis.)
y_offset: -10                                  # Y-axis offset for probe (Important: Proper calibration of this offset is critical for accurate probing. Measure the distance from the probe's tip to the nozzle along the Y-axis.)
z_offset: 0                                    # Z-axis offset (fine-tune for accurate leveling, adjusted after X and Y offsets are set)
probe_with_touch_mode: False                  # Disable touch mode for probing
stow_on_each_sample: True                      # Stow the probe after each sample
samples: 2                                     # Number of samples for probe consistency
samples_tolerance: 0.02                        # Tolerance for each sample
samples_tolerance_retries: 5                   # Retry count for tolerance

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15, 15
mesh_max: 205, 205
probe_count: 5,3
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[safe_z_home] home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
z_hop: 10                 # Move up 10mm z_hop_speed: 5

[screws_tilt_adjust]
screw1: 70.5,37.5
screw1_name: front left screw
screw2: 240,37.5
screw2_name: front right screw
screw3: 240,207.5
screw3_name: rear right screw
screw4: 70.5,207.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4
